<h1>Books#show</h1>
<p>Find me in app/views/books/show.html.erb</p>


<div id="books-show">
	<h2>Ruby On Rails Power</h2>
	<div class="books-show-left">
		<%= image_tag("covers/ruby_on_rails_power.jpg") %>
	</div>
	<div class="books-show-right">
		<h3>Book Info:</h3>
		<ul>
			<li><strong>Category:</strong> Ruby on Rails</li>
			<li><strong>Author:</strong> Aneesha Bakharia</li>
			<li><strong>Publisher:</strong> Course Technology PTR</li>
			<li><strong>Year:</strong> 2007</li>
			<li><strong>ISBN:</strong> 1548478454</li>
			<li><strong>Format:</strong> Paperback</li>
			<li><strong>Pages:</strong> 678</li>
		</ul>
		<%= link_to "Buy for $6.56", 'http://www.ebay.com/itm/Ruby-on-Rails-Power-The-Comprehensive-Guide-/221892344301', class:'btn btn-success',target:'_blank' %>
	</div>
	<div class="clearfix"></div>
	<h4>Excerpt</h4>
	<p>One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. Gregor then turned to look out the window at the dull weather.</p>
</div>